<h1 class="n">Allgemeine Geschäftsbedingungen</h1>
  <p class="n">Allgemeine Geschäftsbedingungen (Internet) <br />
Leaving Spirit ist nicht selbst Veranstalter (wenn dann separat gekennzeichnet) der angebotenen Veranstaltungen. Diese werden durch den jeweiligen Veranstalter durchgeführt, der auch Aussteller der Tickets ist. Durch den Erwerb der Eintrittskarte kommen vertragliche Beziehungen im Hinblick auf den Veranstaltungsbesuch ausschließlich zwischen dem Karteninhaber (Kunden) und dem jeweiligen Veranstalter zustande. Möglicherweise gelten für diese rechtlichen Beziehungen eigene Allgemeine Geschäftsbedingungen des Veranstalters. Die CTS EVENTIM vertreibt die Tickets im Auftrag des jeweiligen Veranstalters als Vermittlerin oder als Kommissionärin, es sei denn, sie ist im Einzelfall ausdrücklich selbst als Veranstalter ausgewiesen. Mit der Bestellung von Tickets beauftragt der Kunde Leaving Spirit mit der Abwicklung des Kartenkaufes einschließlich Versand.  <br />
 <br />
2. Für sämtliche Verträge und Aufträge betreffend die Vermittlung oder Durchführung von Reisen gelten die Allgemeinen Reisebedingungen, soweit Leaving Spirit diese ausweislich der jeweiligen Rechnung im eigenen Namen und auf eigene Rechnung verkauft sowie die Allgemeinen Geschäftsbedingungen des jeweiligen Reiseveranstalters. Diese findet der Kunde jeweils durch die direkt im Angebot befindlichen Verweise. <br />
<br />
II. Vertragsabschluss, Stornierung <br />
1. Das Angebot für einen Vertragsabschluss geht vom Kunden aus, sobald er den sog. „Kaufen-Button“ bzw. die entsprechend § 312j Abs. 3 BGB eindeutig beschriftete Schaltfläche angeklickt hat. Erst mit Zuteilung und Übersendung der Transaktionsnummer / Bestellnummer / Ordernummer durch den Leaving Spirit Shop an den Kunden kommt ein Vertrag zwischen dem Kunden und dem jeweiligen Vertragspartner (Veranstalter, lizenzierter Fan-Artikel-Verkäufer oder Leaving Spirit Shop) zustande. <br />
 <br />
2. Für die Richtigkeit der im Onlineauftritt von Leaving Spirit Shop enthaltenen Daten wird keine Gewähr übernommen. <br />
 <br />
3. Leaving Spirit ist berechtigt, eine Bestellung des Kunden, für die bereits eine Transaktionsnummer / Bestellnummer / Ordernummer zugeteilt worden ist, zu stornieren (einseitiges Rücktrittsrecht), wenn der Kunde gegen vom Veranstalter und / oder von Leaving Spirit aufgestellte spezifische Bedingungen verstößt, auf die im Rahmen des Vorverkaufs hingewiesen wurde, oder diese zu umgehen versucht (z.B. Verstoß gegen Beschränkung der Ticketmenge pro Kunde, Verstoß gegen die Urkundenbedingungen, insbesondere gegen Weiterveräußerungsverbote, Umgehungsversuch durch Anmeldung und Nutzung mehrerer Nutzerprofile etc.) und / oder offene Forderungen aus der bisherigen Geschäftsverbindung mit dem Kunden bestehen. Insbesondere ist ohne vorherige schriftliche Zustimmung des jeweiligen Veranstalters weder die Verwendung von Tickets für gewerbliche Werbe- und / oder Marketingzwecke (bspw. als Gewinn für gewerbliche Preisausschreiben und / oder sonstige gewerbliche Gewinnspiele), noch der Ticketweiterverkauf in dem vom Hausrecht des Veranstalters erfassten Zugangs- und / oder Eingangsbereichs der Veranstaltungsstätte gestattet. Die Erklärung der Stornierung / des Rücktritts kann auch konkludent durch Gutschrift der gezahlten Beträge erfolgen. <br />
 <br />
4. Auf das vorbenannte Rücktrittsrecht finden die §§ 346 ff. BGB unter Ausschluss von § 350 BGB Anwendung. <br />
 <br />
5. Für den Fall, dass die Allgemeinen Geschäftsbedingungen des Veranstalters und die Allgemeinen Geschäftsbedingungen von Leaving Spirit einander jeweils widersprechende Regelungen enthalten, haben die Allgemeinen Geschäftsbedingungen von Leaving Spirit insoweit Vorrang vor den spezifischen Bedingungen des Veranstalters. <br />
<br />
III. Preisbestandteile &amp; Zahlungsmodalitäten <br />
1. Die Preise für Tickets können die aufgedruckten Kartenpreise übersteigen. Die Zahlung ist je nach Veranstaltung und Bestellmodalitäten lediglich durch PayPal möglich. Die gesetzliche Mehrwertsteuer ist im Preis enthalten. Der Gesamtpreis der Bestellung inklusive aller Gebühren ist nach Vertragsabschluss sofort zur Zahlung fällig. <br />
 <br />
2. Bei der Internet-Bestellung werden Service- und Versandkosten erhoben, die je nach Veranstaltung variieren können. Diese Gebühren werden den Kunden bei der Bestellung im Warenkorb angezeigt, darüber hinaus entstehen keine weiteren nicht ausgewiesenen Kosten. <br />
<br />
<br />
IV. Eigentumsvorbehalt; Aufrechnung; Zurückbehaltungsrecht beim Rechnungskauf <br />
1. Bei einem Verbraucher behält Leaving Spirit sich das Eigentum an der Kaufsache bis zur vollständigen Zahlung des Rechnungsbetrags vor. Bei personalisierten Tickets steht die Übertragung des sich aus dem Ticket ergebenden Anspruchs unter der Bedingung der vollständigen Zahlung des Rechnungsbetrags. Die entsprechenden Sicherungsrechte sind auf Dritte übertragbar.  <br />
 <br />
2. Ist der Kunde Unternehmer in Ausübung seiner gewerblichen oder selbständigen beruflichen Tätigkeit, eine juristische Person des öffentlichen Rechts oder öffentlichrechtliches Sondervermögen, behält Leaving Spirit sich das Eigentum an der Kaufsache bis zum Ausgleich aller noch offenen Forderungen aus der Geschäftsverbindung mit dem Kunden vor. Bei personalisierten Tickets steht die Übertragung des sich aus dem Ticket ergebenden Anspruchs unter der Bedingung des Ausgleichs aller noch offenen Forderungen aus der Geschäftsverbindung mit dem Kunden. Die entsprechenden Sicherungsrechte sind auf Dritte übertragbar.  <br />
 <br />
3. Ein Recht zur Aufrechnung steht dem Kunden nur zu, wenn dessen Gegenansprüche rechtskräftig festgestellt oder von Leaving Spirit unbestritten oder anerkannt sind. Außerdem hat der Kunde ein Zurückbehaltungsrecht nur, wenn und soweit dessen Gegenanspruch auf dem gleichen Vertragsverhältnis beruht.  <br />
 <br />
4. Befindet sich der Kunde gegenüber Leaving Spirit mit irgendwelchen Zahlungsverpflichtungen im Verzug, so werden sämtliche bestehende Forderungen sofort fällig. <br />
<br />
VI. Haftungsbeschränkungen, Ausschluss des Rücktritts bei bestimmten Pflichtverletzungen <br />
1. Leaving Spirit haftet in jedem Fall unbeschränkt nach dem Produkthaftungsgesetz, für vorsätzlich oder grob fahrlässig verursachte Schäden, bei arglistigem Verschweigen von Mängeln, sowie für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit. Auch die Haftung für Schäden aus der Verletzung einer Garantie ist unbeschränkt. <br />
 <br />
2. Bei Verletzung wesentlicher Vertragspflichten (sog. Kardinalpflichten), die nur auf einfacher Fahrlässigkeit beruht, haftet Leaving Spirit beschränkt auf den Ersatz des vorhersehbaren, vertragstypischen Schadens. <br />
 <br />
3. Außer in den in den Absätzen 1 und 2 genannten Fällen haftet Leaving Spirit nicht für Schäden, die durch einfache Fahrlässigkeit verursacht wurden. <br />
 <br />
4. Das Recht des Kunden, sich wegen einer nicht vom Veranstalter oder von Leaving Spirit zu vertretenden, nicht in einem Mangel der Ware bestehenden Pflichtverletzung vom Vertrag zu lösen, ist ausgeschlossen. <br />
 <br />
5. Soweit die Haftung von Leaving Spirit nach den vorstehenden Absätzen ausgeschlossen oder beschränkt ist, gilt dies auch für die Haftung ihrer Erfüllungs- und Verrichtungsgehilfen. <br />
<br />
Schlussklauseln <br />
1. Es gilt ausschließlich das Recht der Bundesrepublik Deutschland. Unabhängig von der vorstehenden Regelung zur Rechtswahl können sich Verbraucher mit gewöhnlichem Aufenthalt außerhalb der Bundesrepublik Deutschland stets auch auf das Recht des Staates berufen, in dem sie ihren Wohnsitz haben. <br />
 <br />
2. Alleiniger Erfüllungsort für Lieferung, Leistung und Zahlung ist Würzburg, sofern der Kunde Unternehmer i.S.v. § 14 BGB ist. <br />
 <br />
3. Ist der Kunde Kaufmann, so ist ausschließlicher (auch internationaler) Gerichtsstand für alle sich aus dem Vertragsverhältnis unmittelbar oder mittelbar ergebenen Streitigkeiten Würzburg. Dies gilt im Falle von grenzüberschreitenden Verträgen auch für Nichtkaufleute. Leaving Spirit behält sich das Recht vor, auch jedes andere international zuständige Gericht anzurufen. <br />
 <br />
4. Die Europäische Kommission stellt ab dem 15.02.2016 hier eine Plattform zur OnlineStreitbeilegung bereit. Die E-Mailadresse von Leaving Spirit lautet info@leavingspirit.com <br />
 <br />
5. Leaving Spirit ist nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen</p>
</div>
</div>
        </div>
