<h2 class="n">Allgemeine Informationen zum Versand:</h2>
            <p class="n">Nach erfolgtem Geldeingang über Paypal oder per Vorlasse erfolgt umgehend die Lieferung.</p>
        </div>
        <br />
            <div id="cc-shop-shipping-free-text">
            <h2 class="n">Spezielle Hinweise zum Versand ins Ausland:</h2>
            <p class="n">Bei Lieferungen in das Ausland können Zölle, Steuern und Gebühren anfallen, die im angezeigten Gesamtpreis nicht enthalten sind.</p>
        </div>
        <br />
    <div id="cc-shop-countries">
        <h2 class="n">Länder, in die versendet wird:</h2>
            <table class="j-delivery-info">
                <thead>
                    <tr>
                        <th></th>
                        <th>Standardversandkosten</th>
                    </tr>
                </thead>
                <tbody>
                                            <tr>
                            <td>
                                Deutschland                            </td>
                            <td>
                                3,00 €                            </td>
                        </tr>
                                    </tbody>
            </table>
    </div>
    <br/>
    <div id="cc-shop-info-payment-methods">
        <h2 class="n">Bezahlmethoden:</h2>
        <ul>
                            <li>
                    PayPal (Kreditkarte, Lastschrift, Überweisung)                    <div>
                        Bei Auswahl dieser Zahlungsart erfolgt im nächsten Schritt die Weiterleitung zu PayPal. Wenn dort die erforderlichen Daten eingetragen worden sind, geht es automatisch zurück in diesen Shop, um die Bestellung abzuschließen.                    </div>
                                    </li>
                    </ul>
    </div>