<section id="placeholder" class="section"></section>

<section id="media" class="section wb">
	<div class="container">

		<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
		  <h2 class="mbs">Thank you for your order!</h2>

		  Your payment was successful. Please check your emails for confirmation and shipping details!

		</div>
	</div>
</section>